<nav class="row">
    <ul class="nav nav-tabs" ng-controller="LoginGoogleCtrl">
        <li role="presentation"
            ng-class="{
                'active': routeIsActive('/users/' + user.id)
            }">
            <a ng-href="./users/{{ user.id }}">Stats</a>
        </li>
        <li role="presentation"
            ng-class="{
                'active': routeIsActive('/users/me/playlists')
            }">
            <a ng-href="./users/me/playlists">Playlists</a>
        </li>
    </ul>
</nav>
