<nav class="row">
    <ul class="nav nav-tabs" ng-controller="LoginGoogleCtrl">
        <li role="presentation"
            ng-class="{
                'active': routeIsActive('/users/' + user.id)
            }">
            <a ng-href="./users/{{ user.id }}">Stats</a>
        </li>
        <li role="presentation"
            ng-if="currentUser.id === user.id"
            ng-controller="LoginSpotifyCtrl"
            ng-class="{
                'active': routeIsActive('/users/' + user.id + '/playlists')
            }">
            <a ng-if="isAuthenticated()" ng-href="./users/{{ user.id }}/playlists">Playlists</a>
        </li>
    </ul>
</nav>
