<div ng-include="'partials/users/profile.html'"></div>

<div ng-include="'partials/users/nav.html'"></div>

<div class="container-fluid" ng-if="authenticated()">
    <div class="row">
        <div class="col-xs-12">
            <h2>Playlists <span class="badge">{{ meta.total }}</span></h2>
        </div>
    </div>

    <ul class="row list-unstyled">
        <li ng-repeat="playlist in playlists"
            class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
            data-playlist="playlist"
            fm-playlist>
        </li>
    </ul>

    <img ng-show="loadDisabled" class="center-block loading-animation" src="img/icons/loading-animation.gif" width="50">

    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-secondary" ng-click="loadMore()" ng-if="meta.next" ng-disabled="loadDisabled">Load more</button>
            <p ng-if="meta.total > 0 && !meta.next">No more playlists</p>
        </div>
    </div>
</div>

<div class="container-fluid" ng-if="!authenticated()">
    <div class="row">
        <div class="col-xs-12">

            <h2>Click the button below to login to Spotify and view your playlists</h2>

        </div>

        <div class="col-xs-12 text-center" ng-controller="LoginSpotifyCtrl">
            <button type="button" class="btn btn-spotify" ng-click="authenticate()">
                <span class="icon icon-spotify h4"></span>
                <span class="separator"></span>
                Login to Spotify
            </button>
        </div>
    </div>
</div>
