<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="page-header">
                <h2 class="h2"
                    ng-pluralize
                    count="meta.total"
                    when="{
                        '0': 'No results for \'{{ search.query }}\' in albums',
                        'one': '1 Result for \'{{ search.query }}\' in albums',
                        'other': '{} Results for \'{{ search.query }}\' in albums'
                    }">
                </h2>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">

    <ul class="row list-unstyled">
        <li ng-repeat="album in albums"
            class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
            data-album="album"
            fm-album>
        </li>
    </ul>

    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="loadMore()" ng-if="meta.next" ng-disabled="loadDisabled">Load more</button>
            <p ng-if="meta.total > 0 && !meta.next">No more results</p>
        </div>
    </div>

</div>
