<div class-"container">
    <div class="row">
        <div class="col-md-12">

            <div class="page-header">
                <h2 class="h2"
                    ng-pluralize
                    count="meta.total"
                    when="{
                        '0': 'No results',
                        'one': '1 Result',
                        'other': '{} Results'
                    }">
                </h2>
            </div>

        </div>
    </div>
</div>

<div class-"container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12"
             ng-repeat="artist in artists">

            <a href="artists/{{ artist.id }}" class="thumbnail" title="{{ artist.name }}">
                <div class="img"
                     ng-class="{
                        'no-img': !artist.images[1]
                     }"
                     ng-style="{
                        'background-image': 'url({{ artist.images[1].url || 'img/icons/artist.svg' }})'
                     }">
                    <img ng-src="{{ artist.images[1].url }}" alt="{{ artist.name }}" class="sr-only sr-only-focusable">
                </div>
                <div class="caption">
                    <h3 class="h5 text-overflow">{{ artist.name }}</h3>
                </div>
            </a>

        </div>
    </div>

    <div class="row text-center">
        <button class="btn btn-primary" ng-click="loadMore()" ng-if="meta.next" ng-disabled="loadDisabled">Load more</button>
        <p ng-if="meta.total > 0 && !meta.next">No more results</p>
    </div>
</div>
