<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="page-header">
                <h2 class="h2"
                    ng-pluralize
                    count="meta.total"
                    when="{
                        '0': 'No results for \'{{ search.query }}\' in artists',
                        'one': '1 Result for \'{{ search.query }}\' in artists',
                        'other': '{} Results for \'{{ search.query }}\' in artists'
                    }">
                </h2>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">

    <ul class="row list-unstyled">
        <li class="col-lg-4 col-md-3 col-sm-6 col-xs-12"
            ng-repeat="artist in artists"
            data-artist="artist"
            fm-artist>
        </li>
    </ul>

    <div class="row text-center">
        <button class="btn btn-primary" ng-click="loadMore()" ng-if="meta.next" ng-disabled="loadDisabled">Load more</button>
        <p ng-if="meta.total > 0 && !meta.next">No more results</p>
    </div>

</div>
