<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="artist-banner">
                <div class="img banner"
                     ng-class="{ 'no-img': !artist.images[0] }"
                     ng-style="{ 'background-image': 'url({{ artist.images[0].url || 'img/icons/artist.svg' }})' }">

                    <div class="img avatar"
                         ng-class="{ 'no-img': !artist.images[0] }"
                         ng-style="{ 'background-image': 'url({{ artist.images[0].url || 'img/icons/artist.svg' }})' }">
                        <img ng-src="{{ artist.images[0].url }}" alt="{{ artist.name }}" class="sr-only sr-only-focusable">
                    </div>

                    <div class="mask"></div>

                    <h1 class="h1 text-overflow">{{ artist.name }}</h1>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <tabset>
                <tab heading="Top tracks">
                    <ng-include src="'partials/artists/top-tracks.html'"></ng-include>
                </tab>
                <tab heading="Albums">
                    <ng-include src="'partials/artists/album-list.html'"></ng-include>
                </tab>
                <tab heading="Singles">
                    <ng-include src="'partials/artists/singles-list.html'"></ng-include>
                </tab>
                <tab heading="Related artists">
                    <ng-include src="'partials/artists/related-artists.html'"></ng-include>
                </tab>
            </tabset>
        </div>

    </div>
</div>
