<md-button aria-label="Play" ng-show="paused" ng-click="resume()">
    <md-icon md-svg-src="img/icons/ic_play_arrow_24px.svg"></md-icon>
    <md-tooltip>Play</md-tooltip>
</md-button>

<md-button aria-label="Pause" ng-show="!paused" ng-click="pause()">
    <md-icon md-svg-src="img/icons/ic_pause_24px.svg"></md-icon>
    <md-tooltip>Pause</md-tooltip>
</md-button>

<md-button aria-label="Skip" ng-click="skip()">
    <md-icon md-svg-src="img/icons/ic_skip_next_24px.svg"></md-icon>
    <md-tooltip>Skip</md-tooltip>
</md-button>

<md-button ng-click="toggleMute()" aria-label="mute" ng-class="{ 'md-warn': mute }">
    <md-icon ng-hide="mute" md-svg-src="img/icons/ic_volume_mute_24px.svg"></md-icon>
    <md-icon ng-show="mute" md-svg-src="img/icons/ic_volume_off_24px.svg"></md-icon>
    <md-tooltip>Toggle Mute</md-tooltip>
</md-button>

<md-button ng-click="volumeDown()" aria-label="Volume Down">
    <md-icon md-svg-src="img/icons/ic_volume_down_24px.svg"></md-icon>
    <md-tooltip>Volume Down</md-tooltip>
</md-button>

<md-button ng-click="volumeUp()" aria-label="Volume Up">
    <md-icon md-svg-src="img/icons/ic_volume_up_24px.svg"></md-icon>
    <md-tooltip>Volume Up</md-tooltip>
</md-button>
