<div ng-controller="PlayerCtrl"
     ng-show="track.track.uri"
     ng-class="{
        'no-controls': !isAuthenticatedGoogle()
      }">

    <button class="btn-link btn-icon-arrow visible-xs-inline-block"
            ng-click="$root.footerOpen = !$root.footerOpen">
        <span class="icon icon-chevron-up text-primary"></span>
    </button>

    <fm-track data-spotify-track="track.track"
              data-user="track.user"
              data-timer="trackPositionTimer">
    </fm-track>

    <div ng-include="'partials/player/controls.html'"></div>

</div>
