<div ng-controller="PlayerCtrl" ng-show="track.track.uri">

    <a role="button"
       href
       ng-click="footerOpen = !footerOpen"
       class="btn-icon-arrow visible-xs-inline-block">
        <span class="icon icon-chevron-up text-primary"></span>
    </a>

    <fm-track class="track" data-spotify-track="track.track" data-user="track.user" data-timer="trackPositionTimer" ng-class="{ 'no-controls': !isAuthenticated() }"></fm-track>

    <div ng-include="'partials/player/controls.html'"></div>

</div>
