<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="!">
                <img src="img/logo/soon-fm.svg" class="soon-fm-logo hidden-xs" alt="SOON FM_ logo">
                <img src="img/logo/soon-fm-mobile.svg" class="soon-fm-logo-xs visible-xs-inline-block" alt="SFM_ logo">
            </a>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">

            <span ng-if="!isAuthenticatedGoogle()" ng-controller="LoginGoogleCtrl">
                <button type="button" class="btn btn-primary" ng-click="authenticate()">
                    <span class="icon icon-google-plus h4"></span>
                    <span class="separator"></span>
                    Sign in with Gmail
                </button>
            </span>

            <span ng-show="!isAuthenticated()" ng-controller="LoginSpotifyCtrl">
                <button type="button" class="btn btn-spotify" ng-click="authenticate()">
                    <span class="icon icon-spotify h4"></span>
                    <span class="separator"></span>
                    Login to Spotify
                </button>
            </span>

            <span ng-if="isAuthenticatedGoogle()">
                <button class="btn btn-link hidden-lg hidden-md" ng-click="toogleSidebar()">
                    <span class="h3 icon icon-playlist-add text-muted"></span>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Add to playlist</span>
                </button>

                <a class="btn btn-link" href="./" ng-hide="routeIsActive('/')">
                    <span class="h3 icon icon-playlist text-muted"></span>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Playlist</span>
                </a>

                <a class="btn btn-link" href="history" ng-hide="routeIsActive('/history')">
                    <span class="h3 icon icon-history text-muted"></span>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Track history</span>
                </a>

                <a class="btn btn-link" href="stats" ng-hide="routeIsActive('/stats')">
                    <span class="h3 icon icon-stats text-muted"></span>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Stats</span>
                </a>

                <!-- <button class="btn btn-link">
                    <span class="h3 icon icon-settings text-muted"></span>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Settings</span>
                </button> -->
            </span>

        </div>

    </div>
</div>
