<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img src="img/logo/soon-fm.svg" class="soon-fm-logo hidden-xs" alt="SOON FM_ logo">
            <img src="img/logo/soon-fm-mobile.svg" class="soon-fm-logo-xs visible-xs-inline-block" alt="SFM_ logo">
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right" ng-controller="LoginCtrl">

            <button type="button" class="btn btn-primary" ng-if="!isAuthenticated()" ng-click="authenticate()">
                <span class="icon icon-google-plus"></span>
                <span class="separator"></span>
                Sign in with Gmail
            </button>

            <button class="btn btn-link hidden-lg hidden-md" ng-if="isAuthenticated()" ng-click="toogleSidebar()">
                <span class="h3 icon icon-playlist-add text-muted"></span>
                <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Add to playlist</span>
            </button>

            <!-- <button class="btn btn-link">
                <span class="h3 icon icon-history text-muted"></span>
                <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Track history</span>
            </button>

            <button class="btn btn-link">
                <span class="h3 icon icon-settings text-muted"></span>
                <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Settings</span>
            </button> -->

        </div>

    </div>
</div>
