<div class="queue infinite-scroll" sn-infinite-scroll="loadMore()" data-disabled="page.loading || page.total <= page.pages">

    <h2 class="h4" ng-if="history.length > 0">Previous tracks:</h2>
    <h2 class="h1" ng-if="!history.length > 0">No tracks in the history.</h2>

    <ul class="list-unstyled track-list">
        <li ng-repeat="track in history track by $index"
            data-spotify-track="track.track"
            data-user="track.user"
            fm-track>
        </li>
    </ul>

    <img ng-show="page.loading" class="center-block loading-animation" src="img/icons/loading-animation.gif" width="50" height="50">

    <div class="row text-center">
        <button class="btn btn-primary" ng-click="loadMore()" ng-if="page.total > 1 && page.pages < page.total" ng-disabled="page.loading">Load more</button>
        <p ng-if="page.total > 1 && page.pages >= page.total">No more results</p>
    </div>

</div>
