<md-toolbar
    class="controls-wrapper md-padding"
    ng-if="playlist.length > 0"
    layout="row"
    layout-sm="column"
    layout-align="space-between center"
    layout-align-sm="space-around center">

    <h2 class="md-toolbar-tools now-playing">
        <span>Now Playing:</span>
    </h2>

    <div class="controls" ng-if="isAuthenticated()" ng-include="'partials/controls.html'"></div>

</md-toolbar>

<md-toolbar ng-if="!playlist.length > 0">
    <h2 class="md-toolbar-tools">
        <span>No tracks in playlist</span>
    </h2>
</md-toolbar>

<md-list>
    <md-item class="md-item" ng-repeat="track in playlist">
        <fm-track
            class="track"
            ng-class="{ playing: $first }"
            data-spotify-track="track.track"
            data-user="track.user">
        </fm-track>
    </md-item>
</md-list>
