<form ng-controller="SearchCtrl">
    <div class="form-group">
        <input type="text"
               class="form-control"
               ng-model="selectedItem"
               placeholder="Add track"
               typeahead="track for track in search($viewValue)"
               typeahead-loading="loadingTracks"
               typeahead-template-url="partials/search-result.html"
               typeahead-min-length="2"
               typeahead-wait-ms="300"
               typeahead-on-select="onTrackSelected($item)">
        <img ng-show="loadingTracks" class="center-block loading-animation" src="img/icons/loading-animation.gif" alt="loading" width="30">
    </div>
</form>

