<md-item-content
    layout="row"
    layout-align="start center">

    <div class="md-tile-left">
        <img class="artwork md-padding"
             ng-src="{{ track.album.images[0].url }}"
             alt="{{ item.album.name }}">
    </div>

    <div class="md-tile-content"
         layout="row"
         layout-align="space-around center"
         layout-sm="row"
         layout-align-sm="space-between start">

        <div class="md-tile-content details">
            <h3 class="name">
                {{ track.name }}
            </h3>
            <h4 class="artist" ng-if="track.artists.length > 0">
                <span ng-repeat="artist in track.artists">
                    {{ artist.name }}<span ng-if="!$last">,</span>
                </span>
            </h4>
            <h4 class="album">
                {{ track.album.name }}
            </h4>
        </div>

        <div class="length" hide-sm>
            {{ track.duration | date: "m:ss" }}
        </div>

        <div class="md-tile-content avatar" ng-if="user">
            <img ng-src="{{ user.avatar_url }}">
            <md-tooltip>
                {{ user.display_name }}
            </md-tooltip>
        </div>

    </div>

</md-item-content>
