<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Singles <span class="badge">{{ singlesMeta.total }}</span></h2>
        </div>
    </div>

    <ul class="row list-unstyled">
        <li ng-repeat="single in singles"
            class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
            data-album="single"
            fm-album>
        </li>
    </ul>

    <div class="row">
        <div class="col-xs-12 text-center">
            <button class="btn btn-secondary" ng-click="loadMoreSingles()" ng-if="singlesMeta.next" ng-disabled="loadDisabled">Load more</button>
            <p ng-if="singlesMeta.total > 0 && !singlesMeta.next">No more singles</p>
        </div>
    </div>
</div>
