//
// Media
// --------------------------------------------------

.media {
    padding-left: 10px;
    padding-right: 10px;

    .footer & {
        height: @media-footer-height-xs;
        margin-bottom: 0;
    }
}

.media-user {
    align-self: center;
    min-width: 40px;
}

.media-album {
    min-width: 75px;
}

.img-user {
    .size(30px, auto);
    margin-right: 10px;
}

.img-album {
    .size(@media-footer-height-xs, auto);
}

.media-time {
    display: none;
}

.media-heading {
    font-size: 0.933em; // 14px
}

.media-info {
    font-size: 0.867em; // 13px
}
