//
// Track
// --------------------------------------------------

.track {
    padding-left: 10px;
    padding-right: 10px;

    .footer & {
        height: @track-footer-height-xs;
        margin-bottom: 0;
    }
}

.track-user {
    align-self: center;
    min-width: 40px;
}

.track-album {
    min-width: 75px;
}

.track-menu {
    .align-self(center);
    position: static;
    min-width: 10px;

    .btn-context {
        .opacity(1);
        .rotate(0deg);
        height: 30px;
    }
}

.img-user {
    .size(30px, auto);
    margin-right: 10px;
}

.img-album {
    .size(@track-footer-height-xs, auto);
}

.track-time {
    display: none;
}

.track-heading {
    font-size: 0.933em; // 14px
}

.track-info {
    font-size: 0.867em; // 13px
}
