<a href="users/{{ playlist.owner.id }}/playlists/{{ playlist.id }}" class="thumbnail album" title="{{ playlist.name }}">
    <div class="img"
         ng-class="{
            'no-img': !playlist.images[1]
         }"
         ng-style="{
            'background-image': 'url({{ playlist.images[1].url || 'img/icons/artist.svg' }})'
         }">
        <img ng-src="{{ playlist.images[1].url }}" alt="{{ playlist.name }}" class="sr-only sr-only-focusable">
        <img src="img/helpers/1x1.jpg" alt="image for styling purposes" class="invisible img-helper">
    </div>
    <div class="caption">
        <h3 class="h5 text-overflow">{{ playlist.name }}</h3>
    </div>
</a>
