//
// Current
// --------------------------------------------------

.current {
    .controls {
        .btn {
            .square(50px);
            font-size: 1.5em;
        }

        .volume-control {
            width: 200px;
        }

        .playing-animation {
            display: none;
        }
    }

    .timer {
        margin-top: 10px;
    }
}
