//
// Dropdown menus
// --------------------------------------------------

.sidebar .dropdown-menu {
    .list-unstyled();
    padding: 10px 0;
}

// The dropdown menu (ul)
.media .dropdown-menu {
    left: auto;
    right: 10px;
    top: 80%;
}
