//
// Dropdown menus
// --------------------------------------------------

.sidebar .dropdown-menu {
    .list-unstyled();
    .box-shadow(none);
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 83%;

    .h4 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    a {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 3px;
        white-space: normal;
    }

    p {
        margin-bottom: 0;
    }

    .btn {
        padding: 8px 20px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    // Active state
    > .active > a {
        &,
        &:hover,
        &:focus {
            background-color: lighten(@track-bg, 10%);
            color: @white;
        }
    }
}

// The dropdown menu (ul)
.track .dropdown-menu {
    left: auto;
    right: 10px;
    top: 80%;
}
