//
// Dropdown menus
// --------------------------------------------------

.sidebar .dropdown-menu {
    .list-unstyled();
    .box-shadow(none);
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 83%;

    a {
        border: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
        white-space: normal;
    }

    // Active state
    > .active > a {
        &,
        &:hover,
        &:focus {
            background-color: lighten(@media-bg, 10%);
            color: @white;
        }
    }
}

// The dropdown menu (ul)
.media .dropdown-menu {
    left: auto;
    right: 10px;
    top: 80%;
}
