//
// Header
// --------------------------------------------------

.header {
    .transition(all .5s);
    border-bottom: 1px solid @header-border-bottom-color;
    height: @header-height;
    line-height: @header-line-height;
    padding-left: @header-horizontal-padding;
    padding-right: @header-horizontal-padding;
}

.soon-fm-logo {
    .size(142px, auto);
}

.soon-fm-logo-xs {
    .size(77px, auto);
}

.header .btn {
    padding-left: 5px;
    padding-right: 5px;
}
