//
// Header
// --------------------------------------------------

.header {
    height: @header-height;
    line-height: @header-line-height;
    padding-left: @header-horizontal-padding;
    padding-right: @header-horizontal-padding;
}

.soon-fm-logo {
    .size(142px, auto);
}
