//
// Images
// --------------------------------------------------

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;

    &.no-img {
        background-size: 200px 200px;
    }

    &.img-square {
        width: 300px;
    }
}
