//
// Media
// --------------------------------------------------

.media {
    background-color: @media-bg;
    margin-bottom: @grid-gutter-width;
}

.media-middle p {
    margin-bottom: 0;
}

.media-right {
    padding-right: 20px;
}

.img-user {
    .size(36px, auto);
    margin: 0 10px 0 20px;
}

.img-album {
    .size(90px, auto);
}
