//
// Media
// --------------------------------------------------

.media {
    padding-bottom: 0;
    padding-top: 0;

    .sidebar & {
        height: 62px;

        .media-body {
            width: 203px;
        }
        .media-left,
        .media-right,
        .media-body {
            display: inline-block;
            vertical-align: middle;
        }

        .media-left,
        .media > .pull-left {
            padding-right: 5px;
        }

    }

    .sidebar & .img {
        .square(62px);
    }

    .sidebar & .img.no-img {
        background-size: 40px 40px;
    }
}
