/**
 *  @class          player
 *  @author         SOON_
 *  @description    Styling for main player content
 */

.player-wrapper {
    height: 100%;
}

.player {
    overflow: auto;
}

.volume {
    margin-right: 20px;
    margin-top: 13px;
}

.now-playing {
    width: auto;
}

.controls {
    padding-left: 1em;
    padding-right: 1em;
}
