//
// Queue
// --------------------------------------------------

.queue {

    &.infinite-scroll {
        bottom: 0;
        left: 0;
        overflow: auto;
        padding: @view-padding;
        position: absolute;
        right: 0;
        top: 0;
    }

    h2 {
        margin-top: 0;
    }
}
