//
// Sidebar
// --------------------------------------------------

.sidebar {
    background-color: @sidebar-bg;
    bottom: @sidebar-position-bottom;
    left: 0;
    overflow: auto;
    padding: @sidebar-padding;
    position: fixed;
    top: @sidebar-position-top;
    width: @sidebar-width;
}
