//
// Sidebar
// --------------------------------------------------

.sidebar {
    .transition(all .5s);
    background-color: @sidebar-bg;
    bottom: @sidebar-position-bottom;
    left: 0;
    overflow: auto;
    padding: @sidebar-padding;
    position: fixed;
    right: auto;
    top: @sidebar-position-top;
    width: @sidebar-width;
    z-index: @zindex-sidebar;

    .current & {
        bottom: 0;
    }
}

.loading-animation {
    margin-bottom: 20px;
    margin-top: 20px;
}
