//
// Sidebar
// --------------------------------------------------

.sidebar {
    background-color: lighten(@black, 10%);
    bottom: @sidebar-position-bottom;
    left: 0;
    padding: @sidebar-padding;
    position: fixed;
    top: @sidebar-position-top;
    width: @sidebar-width;
}
