/**
 *  @class          spotify-search
 *  @author         SOON_
 *  @description    Styling for Spotify search bar
 */

.spotify-search ul {
    max-height: none;
}

.spotify-search ul li {
    line-height: 70px;
    height: 70px;
    padding: 0 .5em;
}

.spotify-search .item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spotify-search img.artwork {
    height: 50px;
    width: auto;
}
