//
// Normalize
// --------------------------------------------------

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ng-view {
    .transition(all .5s);
    display: block;
    bottom: @view-position-bottom;
    left: @view-position-left;
    right: @view-position-right;
    overflow: auto;
    padding: @view-padding;
    position: fixed;
    top: @view-position-top;

    .current-view & {
        bottom: 0;
        left: 0;
    }
}
