/**
 *  @class          reset
 *  @author         SOON_
 *  @description    Reset default styling for element tags
 */

md-sidenav {
    padding: .5em;
}

ng-view {
    display: block;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 64px;
}
