//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
//
@black:                     #000000;
@white:                     #ffffff;

@yellow:                    #fffd00;

@brand-spotify:             #2EBD59;

@dj-theme-color:            #bbeeee;

@brand-primary:             @dj-theme-color;
@brand-secondary:           #255C5C;

@brand-primary-light:       lighten(@brand-primary, 10%);
@brand-primary-lighter:     lighten(@brand-primary, 20%);

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", sans-serif;
@font-family-cursive:     "Nixie One", cursive;

@font-size-base:          15px;

@headings-font-family:    @font-family-cursive;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:    8px;
@padding-base-horizontal:  20px;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @brand-primary;
//** Global text color on `<body>`.
@text-color:            @brand-secondary;
//** Global textual link color.
@link-color:            @text-color;
//** Link hover decoration.
@link-hover-decoration: none;
@text-muted:            fade(@text-color, 50);

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-primary-color:           @black;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  1025px;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         10px;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);

// Medium screen / desktop
@container-desktop:            (990px + @grid-gutter-width);

// Large screen / wide desktop
@container-large-desktop:      (1160px + @grid-gutter-width);

//== Z-index master list
//
//##
@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-alert:             1060;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-sidebar:           1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
@zindex-loading-screen:    1080;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    @brand-primary-light;

//** Dropdown link text color.
@dropdown-link-color:            @brand-secondary;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      darken(@brand-secondary, 5%);
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         lighten(@dropdown-bg, 10%);

//== Navs
//
//##

//=== Shared nav styles
@nav-link-hover-bg:                         @brand-primary-light;

//== Tabs
@nav-tabs-border-color:                     lighten(@brand-primary-light, 5%);

@nav-tabs-link-hover-border-color:          lighten(@brand-primary-light, 5%);

@nav-tabs-active-link-hover-color:          @brand-primary;
@nav-tabs-active-link-hover-border-color:   lighten(@brand-primary-light, 5%);


//== Thumbnails
//
//##

//** Thumbnail background color
@thumbnail-bg:                @brand-primary-light;
//** Thumbnail border color
@thumbnail-border:            @brand-primary-light;

//== Forms
//
//##

@input-border-radius:            20px;

// input[type="range"] properties


@track-bg:                      @brand-primary-light;
@track-footer-height-xs:        50px;
@track-color:                   transparent;
@track-fill:                    @brand-primary-lighter;
@thumb-color:                   @brand-secondary;

@thumb-radius:                  8px;
@thumb-height:                  12px;
@thumb-width:                   12px;
@thumb-border-width:            0px;
@thumb-border-color:            transparent;

@track-width:                   100%;
@track-height:                  8px;
@track-border-width:            1px;
@track-border-color:            fade(@brand-secondary, 50);

@track-radius:                  5px;
@contrast:                      5%;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/icomoon/";
//** File name for all font files.
@icon-font-name:          "icomoon";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "icomoon";

//== Navs
//
//##

//=== Shared nav styles
@nav-link-hover-bg:                         @brand-primary-lighter;

//== Tabs
@nav-tabs-border-color:                     @brand-primary-lighter;
@nav-tabs-link-hover-border-color:          @brand-primary-lighter;
@nav-tabs-active-link-hover-bg:             @brand-primary-lighter;
@nav-tabs-active-link-hover-color:          @brand-primary-lighter;

//== Popovers
//
//##

//** Popover body background color
@popover-bg:                  lighten(@brand-primary-light, 10%);


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-border-radius:         0;
@alert-height:                55px;

//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 @brand-primary-lighter;
@progress-height:             8px;
@progress-bar-bg:             @brand-secondary;

//== Header
//
//##

@header-height:                 92px;
@header-line-height:            @header-height;
@header-horizontal-padding:     30px;
@header-border-bottom-color:    @brand-primary-light;

@header-height-xs:              75px;
@header-line-height-xs:         @header-height-xs;
@header-horizontal-padding-xs:  20px;

//== Footer
//
//##

@footer-bg:                     @brand-primary-light;
@footer-height:                 90px;
@footer-height-xs-open:         135px + @progress-height;
@footer-height-xs-closed:       @track-footer-height-xs + @progress-height + 32px;


//== Type
//
//##

//** Page header border color
@page-header-border-color:     @brand-primary-light;

//== Sidebar
//
//##

@sidebar-bg:                    @brand-primary-light;
@sidebar-padding:               30px;
@sidebar-position-bottom:       @footer-height + (@grid-gutter-width / 2);
@sidebar-position-top:          @header-height;
@sidebar-width:                 347px;

@sidebar-width-sm:              @sidebar-width;

@sidebar-width-xs:              300px;
@sidebar-position-bottom-xs:    0;
@sidebar-position-top-xs:       @header-height-xs;

// ng-view
@view-padding:                 30px;
@view-position-bottom:         @footer-height + (@grid-gutter-width / 2);
@view-position-left:           @sidebar-width;
@view-position-right:          0;
@view-position-top:            @header-height;

@view-position-left-sm:        0;

@view-position-bottom-xs:      @footer-height-xs-closed + (@grid-gutter-width / 2);
@view-position-left-xs:        0;
@view-position-top-xs:         @header-height-xs;


//== Controls
//
//##

@controls-bg:                   @brand-primary-light;
@controls-height:               @footer-height;
@controls-width:                340px;

@controls-height-xs:            @footer-height-xs-open - @track-footer-height-xs - @progress-height - 20px;
@controls-line-height-xs:       @controls-height-xs;

//== Loading-screen
//
//##

@loading-screen-bg:                @body-bg;
@loading-screen-position-top:      @header-height;
@loading-screen-position-top-xs:   @header-height-xs;
