//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
//
@black:             #000000;
@white:             #ffffff;

@light-black:       #1a1a1a;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-size-base:          15px;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:    8px;
@padding-base-horizontal:  20px;


@border-radius-base:       20px;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @black;
//** Global text color on `<body>`.
@text-color:            @white;
//** Global textual link color.
@link-color:            @white;
//** Link hover decoration.
@link-hover-decoration: none;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  1025px;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         10px;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (740px + @grid-gutter-width);

// Medium screen / desktop
@container-desktop:            (990px + @grid-gutter-width);

// Large screen / wide desktop
@container-large-desktop:      (1160px + @grid-gutter-width);

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/icomoon/";
//** File name for all font files.
@icon-font-name:          "icomoon";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "icomoon";

//== Header
//
//##

@header-height:                 92px;
@header-line-height:            @header-height;
@header-horizontal-padding:     30px;
@header-border-bottom-color:    @light-black;

//== Sidebar
//
//##

@sidebar-bg:                @light-black;
@sidebar-padding:           30px;
@sidebar-position-bottom:   90px;
@sidebar-position-top:      @header-height;
@sidebar-width:             347px;
